{% extends "base.html" %}
{% block title %}Cancel{% endblock %}
{% block content %}
    <div class="card px-0 mx-auto">
        <div class="card-header fs-4 fw-bold">Cancel Membership</div>
        <form action="" method="post" name="CancelMembership" >
            <div class="card-body">
                <p>Are you sure you want to cancel your membership? If yes, continue with form.</p>
                <a href="/" class="btn btn-primary mb-3">No</a>
                {{ form.hidden_tag() }}
                <p class="fs-6 fw-semibold">Why do you want to cancel your membership?</p>
                {{ form.description(cols='80',class_='form-control') }}<br />
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-secondary" value="Cancel Membership">
            </div>
        </form>
    </div>
{% endblock %}
