{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <script src="/static/create_account.js"></script>
<link rel="stylesheet" href="../static/create_account.css" />
  <h1>Change Password</h1>
  <form action="" method="post" name="change">
    <div class="alert-box single"></div>
      {{ form.hidden_tag() }}
      <p>
        {% if current_user.password != '' %}
        <h5>Old Password</h5>
          {{ form.oldPassword(cols='80',class_='form-control') }}<br />
        {% endif %}
        <h5>New Password</h5>
          {{ form.newPassword(cols='80',class_='form-control', id='password', onkeyup='checkPasswordMatch()') }}<br />
        <h5>Confirm New Password</h5>
          {{ form.newPassword(cols='80',class_='form-control', id='confirmPassword', onkeyup='checkPasswordMatch()') }}<br />
      </p>
      <p>
          <input
            type="submit"
            class="btn btn-secondary"
            id="submit"
            value="Change Password"
            onkeyup="checkPasswordMatch()"
          />
      </p>
  </form>
{% endblock %}
